$buttons-color: #C0C0C0;
$advance-color: rgb( 118,71,162 );
$color-color: #9bbc0f; //xD

@font-face {
  font-family: 'GAMECUBEN';
  src: url('GAMECUBENDualSet.woff2') format('woff2'),
      url('GAMECUBENDualSet.woff') format('woff'),
      url('GAMECUBENDualSet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('Futura-BoldOblique.woff2') format('woff2'),
      url('Futura-BoldOblique.woff') format('woff'),
      url('Futura-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

.canvas {
  position: absolute;
  left: 50%;
  margin-left: -240px;
  top: 230px;
}

.gameboy {
  position: absolute;
  width: 100%;
  height: 100%;

  .gamecat-text {
    font-family: 'Futura';
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 403px;
    left: 50%;
    margin-left: -140px;
    color: darken(#fff, 10%);
    font-size: 25px;
  }

  .advance-text {
    font-family: 'GAMECUBEN';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    color: darken(#fff, 10%);
    left: 50%;
    top: 420px;
  }

  .power {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    .power-button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: darken(#fff, 15%);
      margin-right: 10px;
    }

    .power-button-on {
      transition: 
        background 300ms ease
        box-shadow 300ms ease;
      background: darken(#62ea40, 10%);
      box-shadow: 0 0 8px #62ea40;
    }

    .power-text {
      color: lighten($advance-color, 5%);
      text-shadow: -1px -1px 0px darken($advance-color, 5%);
    }
  }

  .gameboy-background {
    background: lighten(#000, 10%);
    position: absolute;
    width: 900px;
    height: 450px;
    border-radius: 50px;
    left: 50%;
    margin-left: -450px;
    z-index: -1;
    top: 25px;
  }

  .arrows {
    position: absolute;
    left: 100px;
    top: 37%;

    .center {
      position: absolute;
      width: 30px;
      height: 30px;
      background: $buttons-color;
    }

    .arrow-left,.arrow-right, .arrow-top, .arrow-bottom {
      position: absolute;
      width: 30px;
      height: 30px;
      background: $buttons-color;

      &:before {
        z-index: -1;
        top: 11px;
        left: 11px;
        content: '';
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid darken( $buttons-color, 10%);
      }
    }

    .arrow-top {
      top: -30px;
      transform: rotate(360deg);
      border-radius: 5px 5px 0px 0px;
      box-shadow: -1px -1px 0px 0px rgba(0,0,0,.4), inset 1px 1px 0px 0px rgba(255,255,255,0.15);
    }

    .arrow-bottom {
      top: 30px;
      transform: rotate(180deg);
      border-radius: 5px 5px 0px 0px;
      box-shadow: -1px -1px 0px 0px rgba(0,0,0,.4), inset 1px 1px 0px 0px rgba(255,255,255,0.15);
    }

    .arrow-left {
      left: -30px;
      transform: rotate(-90deg);
      border-radius: 5px 5px 0px 0px;
      box-shadow: -1px -1px 0px 0px rgba(0,0,0,.4), inset 1px 1px 0px 0px rgba(255,255,255,0.15);
    }

    .arrow-right {
      left: 30px;
      transform: rotate(90deg);
      border-radius: 5px 5px 0px 0px;
      box-shadow: -1px -1px 0px 0px rgba(0,0,0,.4), inset 1px 1px 0px 0px rgba(255,255,255,0.15);
    }
  }

  .buttons {
    position: absolute;
    right: 100px;
    top: 32%;

    &:before {
      content: 'B';
      position: absolute;
      width: 60px;
      height: 60px;
      background: $buttons-color;
      color: darken($buttons-color, 10%);
      text-shadow: 1px 1px 1px lighten($buttons-color, 12%);
      font-weight: 800;
      top: 50px;
      left: -70px;
      border-radius: 50%;
      text-align: center;
      line-height: 3em;
      margin: 10px auto 30px;
      font-size: 20px;
      box-shadow: -1px -1px 0px 0px darken($advance-color, 30%), 1px 1px 1px 0px darken($advance-color, 30%), inset 1px 1px 0px 0px rgba(255,255,255,0.1), inset 0px 0px 2px 0px rgba(255,255,255,0.05), inset 0px 0px 10px 0px rgba(255,255,255,0.05);
    }

    &:after {
      content: 'A';
      position: absolute;
      width: 60px;
      height: 60px;
      background: $buttons-color;
      color: darken($buttons-color, 10%);
      text-shadow: 1px 1px 1px lighten($buttons-color, 12%);
      font-weight: 800;
      border-radius: 50%;
      text-align: center;
      line-height: 3em;
      margin: 10px auto 30px;
      font-size: 20px;
      box-shadow: -1px -1px 0px 0px darken($advance-color, 30%), 1px 1px 1px 0px darken($advance-color, 30%), inset 1px 1px 0px 0px rgba(255,255,255,0.1), inset 0px 0px 2px 0px rgba(255,255,255,0.05), inset 0px 0px 10px 0px rgba(255,255,255,0.05);
    }
  }

  .speakers {
    position: absolute;
    top: 65%;
    right: 170px;

    .speaker {
      position: absolute;
      width: 130px;
      height: 2px;
      border-radius: 5px;
      background: darken($advance-color, 30%);
      transform: rotate(-25deg);
      box-shadow: 2px 2px 0px lighten($advance-color, 5%);

      &:nth-child(1) {
        top: 15px;
      }

      &:nth-child(2) {
        top: 30px;
      }

      &:nth-child(3) {
        top: 45px;
      }

      &:nth-child(4) {
        top: 60px;
      }

      &:nth-child(5) {
        top: 75px;
      }
    }
  }

  .speakers-mobile {
    display: none;
  }

  .mini-buttons {
    position: absolute;
    top: 70%;

    .select-shadow, .start-shadow {
      position: absolute;
      width: 100px;
      height: 25px;
      background: darken($advance-color, 5%);
      transform: rotate(10deg);
      left: 68px;
      top: -5px;
      border-radius: 25px;
      color: lighten($advance-color, 3%);
      text-align: start;
      padding-left: 5px;
      line-height: 1.5em;
      text-shadow: -1px -1px 0px darken($advance-color, 8%);
      box-shadow: -1px 0px 1px lighten($advance-color, 12%);
      
    }
    .start-shadow {
      top: 45px;
      padding-left: 10px;
    }

    .select, .start {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $buttons-color;
      left: 140px;
      box-shadow: -1px -1px 0px 0px darken($advance-color, 30%), 1px 1px 1px 0px darken($advance-color, 30%), inset 1px 1px 0px 0px rgba(255,255,255,0.1), inset 0px 0px 2px 0px rgba(255,255,255,0.05), inset 0px 0px 10px 0px rgba(255,255,255,0.05);
      //border: 1px solid rgba(0,0,0,0.5);
      //box-shadow: 0px 0px 0px 3px #432a76, 1px 1px 0px 3px rgba(255,255,255,.1), 1px 1px 0px 0px rgba(0,0,0,0.7), inset 1px 1px 0px 0px #575f66, inset -1px -1px 0px 0px #2d3034;
    }

    .select {
      top: 50px;
    }
  }

  .color-text{
    position:absolute;
    display: none;
    left:50%;
    top: 424px;
    font-family: 'Permanent Marker', cursive;
    font-size:30px;
    font-weight:bold;
    width:60px;
    height:40px; 

    .c{ 
      color:#c2185b;
      transform:rotate(15deg);
    }
    .o{
      font-size:23px;
      color:#7b1fa2;
      transform: translateY(8%);
    }
    .l{
      color:#64dd17;
      transform:rotate(-8deg);
    }
    .o-yellow{
      font-size:24px;
      color:#ffea00 ;
      transform: translateY(8%);
    }
    .r{
      color:#0277bd;
    }
  }

  @media screen and (max-width: 1000px) {
    .color-text {
      display: flex;
      flex-direction: row;
    }
  
    .advance-text {
      display: none;
    }

    .arrows, .buttons {
      transform: scale(2);
    }

    .arrows {
      left: 20%;
      top: 40%;
    }

    .buttons {
      right: 25%;
      top: 38%;
    }

    .power {
      left: 55px;
      top: 73px;

      .power-text {
        display: none;
      }

      .power-button-on {
        background: darken(#de1738, 10%);
        box-shadow: 0 0 8px #de1738;
      }
    }

    .mini-buttons {
      top: 60%;
      left: 50%;

      .start, .select {
        width: 55px;
        left: 0;
        top: 0;
      }

      .select {
        left: -90px;
      }

      .start-shadow, .select-shadow {
        display: none;
      }
    }

    .speakers {
      display: none;
    }

    .speakers-mobile {
      display: initial;
      color: #000;
      font-size: 10px;
      height: 60px;
      letter-spacing: -1px;
      line-height: 7px;
      padding: 0;
      position: absolute;
      text-align: center;
      text-shadow: 1px 1px 0px lighten($color-color,5%);
      transform: rotate(-5deg) scale(3);
      top: 70%;
      right: 10%;
      width: 60px;
      z-index: 2;
    }
  }
}

body {
  background-color: $advance-color;

  @media screen and (max-width: 1000px) {
    background-color: $color-color;
  }
}
