@font-face {
  font-family: 'GAMECUBEN';
  src: url("GAMECUBENDualSet.woff2") format("woff2"), url("GAMECUBENDualSet.woff") format("woff"), url("GAMECUBENDualSet.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura';
  src: url("Futura-BoldOblique.woff2") format("woff2"), url("Futura-BoldOblique.woff") format("woff"), url("Futura-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
.canvas {
  position: absolute;
  left: 50%;
  margin-left: -240px;
  top: 230px; }

.gameboy {
  position: absolute;
  width: 100%;
  height: 100%; }
  .gameboy .gamecat-text {
    font-family: 'Futura';
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 403px;
    left: 50%;
    margin-left: -140px;
    color: #e6e6e6;
    font-size: 25px; }
  .gameboy .advance-text {
    font-family: 'GAMECUBEN';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    color: #e6e6e6;
    left: 50%;
    top: 420px; }
  .gameboy .power {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center; }
    .gameboy .power .power-button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #d9d9d9;
      margin-right: 10px; }
    .gameboy .power .power-button-on {
      transition: background 300ms ease box-shadow 300ms ease;
      background: #40df18;
      box-shadow: 0 0 8px #62ea40; }
    .gameboy .power .power-text {
      color: #8350b2;
      text-shadow: -1px -1px 0px #693f90; }
  .gameboy .gameboy-background {
    background: #1a1a1a;
    position: absolute;
    width: 900px;
    height: 450px;
    border-radius: 50px;
    left: 50%;
    margin-left: -450px;
    z-index: -1;
    top: 25px; }
  .gameboy .arrows {
    position: absolute;
    left: 100px;
    top: 37%; }
    .gameboy .arrows .center {
      position: absolute;
      width: 30px;
      height: 30px;
      background: #b8b8b8; }
    .gameboy .arrows .arrow-left, .gameboy .arrows .arrow-right, .gameboy .arrows .arrow-top, .gameboy .arrows .arrow-bottom {
      position: absolute;
      width: 30px;
      height: 30px;
      background: #b8b8b8; }
      .gameboy .arrows .arrow-left:before, .gameboy .arrows .arrow-right:before, .gameboy .arrows .arrow-top:before, .gameboy .arrows .arrow-bottom:before {
        z-index: -1;
        top: 11px;
        left: 11px;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid #9f9f9f; }
    .gameboy .arrows .arrow-top {
      top: -30px;
      transform: rotate(360deg);
      border-radius: 5px 5px 0px 0px;
      box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.4), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.15); }
    .gameboy .arrows .arrow-bottom {
      top: 30px;
      transform: rotate(180deg);
      border-radius: 5px 5px 0px 0px;
      box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.4), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.15); }
    .gameboy .arrows .arrow-left {
      left: -30px;
      transform: rotate(-90deg);
      border-radius: 5px 5px 0px 0px;
      box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.4), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.15); }
    .gameboy .arrows .arrow-right {
      left: 30px;
      transform: rotate(90deg);
      border-radius: 5px 5px 0px 0px;
      box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.4), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.15); }
  .gameboy .buttons {
    position: absolute;
    right: 100px;
    top: 32%; }
    .gameboy .buttons:before {
      content: 'B';
      position: absolute;
      width: 60px;
      height: 60px;
      background: #b8b8b8;
      color: #9f9f9f;
      text-shadow: 1px 1px 1px #d7d7d7;
      font-weight: 800;
      top: 50px;
      left: -70px;
      border-radius: 50%;
      text-align: center;
      line-height: 3em;
      margin: 10px auto 30px;
      font-size: 20px;
      box-shadow: -1px -1px 0px 0px #291838, 1px 1px 1px 0px #291838, inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.05), inset 0px 0px 10px 0px rgba(255, 255, 255, 0.05); }
    .gameboy .buttons:after {
      content: 'A';
      position: absolute;
      width: 60px;
      height: 60px;
      background: #b8b8b8;
      color: #9f9f9f;
      text-shadow: 1px 1px 1px #d7d7d7;
      font-weight: 800;
      border-radius: 50%;
      text-align: center;
      line-height: 3em;
      margin: 10px auto 30px;
      font-size: 20px;
      box-shadow: -1px -1px 0px 0px #291838, 1px 1px 1px 0px #291838, inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.05), inset 0px 0px 10px 0px rgba(255, 255, 255, 0.05); }
  .gameboy .speakers {
    position: absolute;
    top: 65%;
    right: 170px; }
    .gameboy .speakers .speaker {
      position: absolute;
      width: 130px;
      height: 2px;
      border-radius: 5px;
      background: #291838;
      transform: rotate(-25deg);
      box-shadow: 2px 2px 0px #8350b2; }
      .gameboy .speakers .speaker:nth-child(1) {
        top: 15px; }
      .gameboy .speakers .speaker:nth-child(2) {
        top: 30px; }
      .gameboy .speakers .speaker:nth-child(3) {
        top: 45px; }
      .gameboy .speakers .speaker:nth-child(4) {
        top: 60px; }
      .gameboy .speakers .speaker:nth-child(5) {
        top: 75px; }
  .gameboy .speakers-mobile {
    display: none; }
  .gameboy .mini-buttons {
    position: absolute;
    top: 70%; }
    .gameboy .mini-buttons .select-shadow, .gameboy .mini-buttons .start-shadow {
      position: absolute;
      width: 100px;
      height: 25px;
      background: #693f90;
      transform: rotate(10deg);
      left: 68px;
      top: -5px;
      border-radius: 25px;
      color: #7e4cad;
      text-align: start;
      padding-left: 5px;
      line-height: 1.5em;
      text-shadow: -1px -1px 0px #613b86;
      box-shadow: -1px 0px 1px #9469bd; }
    .gameboy .mini-buttons .start-shadow {
      top: 45px;
      padding-left: 10px; }
    .gameboy .mini-buttons .select, .gameboy .mini-buttons .start {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #b8b8b8;
      left: 140px;
      box-shadow: -1px -1px 0px 0px #291838, 1px 1px 1px 0px #291838, inset 1px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.05), inset 0px 0px 10px 0px rgba(255, 255, 255, 0.05); }
    .gameboy .mini-buttons .select {
      top: 50px; }
  .gameboy .color-text {
    position: absolute;
    display: none;
    left: 50%;
    top: 424px;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    font-weight: bold;
    width: 60px;
    height: 40px; }
    .gameboy .color-text .c {
      color: #c2185b;
      transform: rotate(15deg); }
    .gameboy .color-text .o {
      font-size: 23px;
      color: #7b1fa2;
      transform: translateY(8%); }
    .gameboy .color-text .l {
      color: #64dd17;
      transform: rotate(-8deg); }
    .gameboy .color-text .o-yellow {
      font-size: 24px;
      color: #ffea00;
      transform: translateY(8%); }
    .gameboy .color-text .r {
      color: #0277bd; }
  @media screen and (max-width: 1000px) {
    .gameboy .color-text {
      display: flex;
      flex-direction: row; }
    .gameboy .advance-text {
      display: none; }
    .gameboy .arrows, .gameboy .buttons {
      transform: scale(2); }
    .gameboy .arrows {
      left: 20%;
      top: 40%; }
    .gameboy .buttons {
      right: 25%;
      top: 38%; }
    .gameboy .power {
      left: 55px;
      top: 73px; }
      .gameboy .power .power-text {
        display: none; }
      .gameboy .power .power-button-on {
        background: #b0122c;
        box-shadow: 0 0 8px #de1738; }
    .gameboy .mini-buttons {
      top: 60%;
      left: 50%; }
      .gameboy .mini-buttons .start, .gameboy .mini-buttons .select {
        width: 55px;
        left: 0;
        top: 0; }
      .gameboy .mini-buttons .select {
        left: -90px; }
      .gameboy .mini-buttons .start-shadow, .gameboy .mini-buttons .select-shadow {
        display: none; }
    .gameboy .speakers {
      display: none; }
    .gameboy .speakers-mobile {
      display: initial;
      color: #000;
      font-size: 10px;
      height: 60px;
      letter-spacing: -1px;
      line-height: 7px;
      padding: 0;
      position: absolute;
      text-align: center;
      text-shadow: 1px 1px 0px #aed411;
      transform: rotate(-5deg) scale(3);
      top: 70%;
      right: 10%;
      width: 60px;
      z-index: 2; } }

body {
  background-color: #7647a2; }
  @media screen and (max-width: 1000px) {
    body {
      background-color: #9bbc0f; } }

/*# sourceMappingURL=styles.css.map */
