@font-face {
  font-family: 'GAMECUBEN';
  src: url('GAMECUBENDualSet.woff2') format('woff2'),
      url('GAMECUBENDualSet.woff') format('woff'),
      url('GAMECUBENDualSet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('Futura-BoldOblique.woff2') format('woff2'),
      url('Futura-BoldOblique.woff') format('woff'),
      url('Futura-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

.canvas {
  position: absolute;
  left: 50%;
  margin-left: -240px;
  top: 230px;
}

.gameboy {
  position: absolute;
  width: 100%;
  height: 100%;

  .gamecat-text {
    font-family: 'Futura';
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 403px;
    left: 50%;
    margin-left: -140px;
    color: darken(#fff, 10%);
    font-size: 25px;
  }

  .advance-text {
    font-family: 'GAMECUBEN';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    color: darken(#fff, 10%);
    left: 50%;
    top: 420px;
  }

  .power {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    .power-button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: darken(#fff, 15%);
      margin-right: 10px;
    }

    .power-button-on {
      transition: 
        background 300ms ease
        box-shadow 300ms ease;
      background: darken(#62ea40, 10%);
      box-shadow: 0 0 8px #62ea40;
    }

    .power-text {
      color: darken(rgb( 118,71,162 ), 5%);
    }
  }

  .gameboy-background {
    background: lighten(#000, 10%);
    position: absolute;
    width: 900px;
    height: 450px;
    border-radius: 50px;
    left: 50%;
    margin-left: -450px;
    z-index: -1;
    top: 25px;
  }

  .arrows {
    position: absolute;
    left: 100px;
    top: 35%;
    &:before {
      content: '';
      position: absolute;
      width: 90px;
      height: 30px;
      background: #C0C0C0;
      top: 30px;
      left: -30px;
      border-radius: 5px;
    }

    &:after {
      content: '';
      position: absolute;
      height: 90px;
      width: 30px;
      background: #C0C0C0;
      border-radius: 5px;
    }

    .arrow-left,.arrow-right, .arrow-top, .arrow-bottom {
      z-index: 2;
      position: absolute;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7px solid darken( #C0C0C0, 10%);
    }

    .arrow-top {
      top: 10px;
      left: 9px;
    }

    .arrow-bottom {
      top: 78px;
      left: 9px;
      transform: rotate(180deg);
    }

    .arrow-left {
      top: 42px;
      left: -25px;
      transform: rotate(-90deg);
    }

    .arrow-right {
      top: 42px;
      left: 43px;
      transform: rotate(90deg);
    }
  }

  .buttons {
    position: absolute;
    right: 100px;
    top: 35%;

    &:before {
      content: 'B';
      position: absolute;
      width: 60px;
      height: 60px;
      background: #C0C0C0;
      color: darken(#C0C0C0, 10%);
      font-weight: 800;
      top: 50px;
      left: -70px;
      border-radius: 50%;
      text-align: center;
      line-height: 3em;
      margin: 10px auto 30px;
      font-size: 20px;
    }

    &:after {
      content: 'A';
      position: absolute;
      width: 60px;
      height: 60px;
      background: #C0C0C0;
      color: darken(#C0C0C0, 10%);
      font-weight: 800;
      border-radius: 50%;
      text-align: center;
      line-height: 3em;
      margin: 10px auto 30px;
      font-size: 20px;
    }
  }

  .speakers {
    position: absolute;
    top: 65%;
    right: 170px;

    .speaker {
      position: absolute;
      width: 130px;
      height: 2px;
      border-radius: 5px;
      background: darken(rgb( 118,71,162 ), 20%);
      transform: rotate(-25deg);

      &:nth-child(1) {
        top: 15px;
      }

      &:nth-child(2) {
        top: 30px;
      }

      &:nth-child(3) {
        top: 45px;
      }

      &:nth-child(4) {
        top: 60px;
      }

      &:nth-child(5) {
        top: 75px;
      }
    }
  }

  .mini-buttons {
    position: absolute;
    top: 70%;

    .select-shadow, .start-shadow {
      position: absolute;
      width: 95px;
      height: 25px;
      background: darken(rgb( 118,71,162 ), 5%);
      transform: rotate(10deg);
      left: 73px;
      top: -5px;
      border-radius: 25px;
      color: rgb( 118,71,162 );
      text-align: start;
      padding-left: 5px;
      line-height: 1.5em;
    }
    .start-shadow {
      top: 45px;
      padding-left: 10px;
    }

    .select, .start {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #C0C0C0;
      left: 140px;
    }

    .select {
      top: 50px;
    }
  }
}
