@font-face {
  font-family: 'GAMECUBEN';
  src: url("GAMECUBENDualSet.woff2") format("woff2"), url("GAMECUBENDualSet.woff") format("woff"), url("GAMECUBENDualSet.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura';
  src: url("Futura-BoldOblique.woff2") format("woff2"), url("Futura-BoldOblique.woff") format("woff"), url("Futura-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
.canvas {
  position: absolute;
  left: 50%;
  margin-left: -240px;
  top: 230px; }

.gameboy {
  position: absolute;
  width: 100%;
  height: 100%; }
  .gameboy .gamecat-text {
    font-family: 'Futura';
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 403px;
    left: 50%;
    margin-left: -140px;
    color: #e6e6e6;
    font-size: 25px; }
  .gameboy .advance-text {
    font-family: 'GAMECUBEN';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    color: #e6e6e6;
    left: 50%;
    top: 420px; }
  .gameboy .power {
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center; }
    .gameboy .power .power-button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #d9d9d9;
      margin-right: 10px;
      transition: background 300ms ease box-shadow 300ms ease; }
    .gameboy .power .power-button-on {
      background: #40df18;
      box-shadow: 0 0 8px #62ea40; }
    .gameboy .power .power-text {
      color: #693f90; }
  .gameboy .gameboy-background {
    background: #1a1a1a;
    position: absolute;
    width: 900px;
    height: 450px;
    border-radius: 50px;
    left: 50%;
    margin-left: -450px;
    z-index: -1;
    top: 25px; }
  .gameboy .arrows {
    position: absolute;
    left: 100px;
    top: 35%; }
    .gameboy .arrows:before {
      content: '';
      position: absolute;
      width: 90px;
      height: 30px;
      background: #C0C0C0;
      top: 30px;
      left: -30px;
      border-radius: 5px; }
    .gameboy .arrows:after {
      content: '';
      position: absolute;
      height: 90px;
      width: 30px;
      background: #C0C0C0;
      border-radius: 5px; }
    .gameboy .arrows .arrow-left, .gameboy .arrows .arrow-right, .gameboy .arrows .arrow-top, .gameboy .arrows .arrow-bottom {
      z-index: 2;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7px solid #a7a7a7; }
    .gameboy .arrows .arrow-top {
      top: 10px;
      left: 9px; }
    .gameboy .arrows .arrow-bottom {
      top: 78px;
      left: 9px;
      transform: rotate(180deg); }
    .gameboy .arrows .arrow-left {
      top: 42px;
      left: -25px;
      transform: rotate(-90deg); }
    .gameboy .arrows .arrow-right {
      top: 42px;
      left: 43px;
      transform: rotate(90deg); }
  .gameboy .buttons {
    position: absolute;
    right: 100px;
    top: 35%; }
    .gameboy .buttons:before {
      content: 'B';
      position: absolute;
      width: 60px;
      height: 60px;
      background: #C0C0C0;
      color: #a7a7a7;
      font-weight: 800;
      top: 50px;
      left: -70px;
      border-radius: 50%;
      text-align: center;
      line-height: 3em;
      margin: 10px auto 30px;
      font-size: 20px; }
    .gameboy .buttons:after {
      content: 'A';
      position: absolute;
      width: 60px;
      height: 60px;
      background: #C0C0C0;
      color: #a7a7a7;
      font-weight: 800;
      border-radius: 50%;
      text-align: center;
      line-height: 3em;
      margin: 10px auto 30px;
      font-size: 20px; }
  .gameboy .speakers {
    position: absolute;
    top: 65%;
    right: 170px; }
    .gameboy .speakers .speaker {
      position: absolute;
      width: 130px;
      height: 2px;
      border-radius: 5px;
      background: #42285b;
      transform: rotate(-25deg); }
      .gameboy .speakers .speaker:nth-child(1) {
        top: 15px; }
      .gameboy .speakers .speaker:nth-child(2) {
        top: 30px; }
      .gameboy .speakers .speaker:nth-child(3) {
        top: 45px; }
      .gameboy .speakers .speaker:nth-child(4) {
        top: 60px; }
      .gameboy .speakers .speaker:nth-child(5) {
        top: 75px; }
  .gameboy .mini-buttons {
    position: absolute;
    top: 70%; }
    .gameboy .mini-buttons .select-shadow, .gameboy .mini-buttons .start-shadow {
      position: absolute;
      width: 95px;
      height: 25px;
      background: #693f90;
      transform: rotate(10deg);
      left: 73px;
      top: -5px;
      border-radius: 25px;
      color: #7647a2;
      text-align: start;
      padding-left: 5px;
      line-height: 1.5em; }
    .gameboy .mini-buttons .start-shadow {
      top: 45px;
      padding-left: 10px; }
    .gameboy .mini-buttons .select, .gameboy .mini-buttons .start {
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #C0C0C0;
      left: 140px; }
    .gameboy .mini-buttons .select {
      top: 50px; }

/*# sourceMappingURL=styles.css.map */
